<ion-view view-title="Rules">
    <ion-content>
        <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="filters" placeholder="Search"> </label>
        <ion-list>
            <ion-item class="item" ng-repeat="rule in rules | filter:filters | orderBy:'name':!reverse " ng-filter="" type="item-text-wrap" ui-sref="tab.rules-detail({Id:rule.id})">
                <h2>{{rule.name}}</h2> </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
