
<ion-view view-title="{{units.race}}">
  <ion-content class="padding">
  </ion-content>
</ion-view>
<ion-view view-title="{{units.race}}">
  <ion-content class="padding">
    <div class="card">
  <div class="item item-text-wrap">
 <img ng-src="{{units.img}}" style="width: 64px; height: 64px">
<h3>{{units.race}} - {{units.name}}</h3>
  <h3>WS: {{units.ws}}</h3>
  <h3>BS: {{units.bs}}</h3>
  <h3>S: {{units.s}}</h3>
  <h3>T: {{units.t}}</h3>
  <h3>W: {{units.w}}</h3>
  <h3>I: {{units.i}}</h3>

<h3>A: {{units.a}}</h3>
<h3>LD: {{units.ld}}</h3>
<h3>SV: {{units.sv}}</h3>
<h3>Rules: {{units.rules}}</h3>
<h3>Type: {{units.type}}</h3>
<h3>F: {{units.front}}</h3>
<h3>S: {{units.side}}</h3>
<h3>R: {{units.rear}}</h3>
<h3>Points: {{units.points}}</h3>
<h3>Weapons: {{units.weapons}}</h3>

  </div>
</div>
  </ion-content>
</ion-view>
